.card {
    flex-direction: row;
  
    margin-bottom: 100px
    
  }

  .ms-3 {
    background-color: blue;
    color: white;
 
  }

  .me-3 {
    background-color: blue;
    color: white;
    
  }


  .homepage {
    background-color: blue;
  }